.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    color: #fff;
    padding: 50px;
    font-family: Arial, sans-serif;
}

.about-text {
    flex: 1;
    max-width: 500px;
}

.about-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.view-all-btn {
    background-color: #ffcccc;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.view-all-btn:hover {
    background-color: #ff9999;
}

.about-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 1;
    max-width: 500px;
}

.about-images img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
