/* .dashboard-container {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px; 
    padding: 20px;
    flex: 1;
    position: relative;
    z-index: 1;
  }
  
  .background-image {
    background: url('gold.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    width: calc(100% - 250px); 
    position: fixed;
    top: 0;
    left: 250px;
    z-index: -1;
  }
  
  @media only screen and (max-width: 767px) {
    .main-content {
      margin-left: 0;
    }
    .background-image {
      width: 100%;
      left: 0;
    }
  }
   */

   .dashboard-container {
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    background-color: #222; /* Dark background to contrast with white text */
    min-height: 100vh; /* Full viewport height */
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 200px; /* Adjust for sidebar width */
  }
  
  .cards-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .table-section {
    margin-top: 20px;
  }
  
  /* .company-name {
    color: white;
    font-size: 2rem; 
    text-shadow: 1px 1px 3px black; 
    margin-bottom: 20px; 
  } */

  .company-name {
    display: block; /* Ensure it is displayed */
    visibility: visible; /* Ensure it is visible */
    opacity: 1; /* Ensure it is fully opaque */
  }
  